@model IEnumerable<RepairShop.Models.Service>

@{
	ViewData["Title"] = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
	<div class="col-md-4 col-sm-6 col-xs-12 center-block text-center" style="margin-top:20px;">
		<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-block btn-default">
			<img class="img-thumbnail"style="height:150px; width:150px;" src="@item.ImagePath" />

			<p>
				<strong>@item.Title</strong><br />
				@item.Price
			</p>
		</a>
	</div>

}